@font-face {
    font-family: AmongUs;
    src: url(fonts/AmongUs-Regular.ttf);
}

@font-face {
    font-family: VCR-OSD-MONO;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/among-us-space.png);
    background-repeat: repeat-y;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: black;
    margin: 3px;
}

.headings {
    color: white;
    font-family: AmongUs, "Amatic SC", Arial, sans-serif;
    font-size: 50px;
    margin: 0;
}


.header-links {
    display: flex;
    gap: 10px;
}

.header-img {
    width: auto;
    height: 100px;
    border-radius: 50%;
    filter: grayscale(100%);
    border: 3px solid white;
}

#header-logo {
    height: 100px;
    border-radius: 10px;
    border: 3px solid white;
    filter: grayscale(100%);
}

.inout-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}

.input-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 15px;
}

.output-container {
    padding: 15px;
    border: 2px solid white;
    border-radius: 15px;
}